<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>{{ data.report }}</h1>
</head>
<body>
{% for index in range(size) %}
    {% if index == 0 %}
        <table id="table1" class="table table-hover">
             <thead>
                <tr>
                    <th>Feature service</th>
                    <th>time</th>
                <th>message</th>
                </tr>
            </thead>

            <tbody>
            {% for row in data['service'][index]['content'] %}
                <tr>
                  <td>{{ row.service }}</td>
                  <td>{{ row.time }}</td>
                  <td>{{ row.message[0:20] }}</td>
                </tr>
            {% endfor %}

             </tbody>
      </table>
        <br>
    {% endif %}
    {% if index == 1 %}
        <table id="table2" class="table table-hover">
             <thead>
                <tr>
                    <th>Health service (VSU)</th>
                    <th>time</th>
                <th>message</th>
                </tr>
            </thead>

            <tbody>
            {% for row in data['service'][index]['content'] %}
                <tr>
                  <td> <a href="{{row.service}}">{{row.service}}</a> </td>
                  <td>{{ row.time }}</td>
                  <td>{{ row.message[0:20] }}</td>
                </tr>
            {% endfor %}

             </tbody>
      </table>
    {% endif %}
    {% if index == 2 %}
        <table id="table3" class="table table-hover">
             <thead>
                <tr>
                    <th>Health Service (DATS)</th>
                    <th>time</th>
                <th>message</th>
                </tr>
            </thead>

            <tbody>
            {% for row in data['service'][index]['content'] %}
                <tr>
                  <td>{{ row.service }}</td>
                  <td>{{ row.time }}</td>
                  <td>{{ row.message[0:20] }}</td>
                </tr>
            {% endfor %}

             </tbody>
      </table>
    {% endif %}


{% endfor %}
</body>
</html>

